.loginContainer {
  max-width: 1200px;
  height: 84vh;
  margin: auto;
  display: flex;
}

.login {
  width: 40%;
  margin: auto;
  padding: 24px;
  background-color: #d9d375;
  border: 1px solid #c5a92b;
  border-radius: 16px;
  box-shadow: 0 0 16px 8px #edfbc1;
}

legend {
  text-align: center;
  text-transform: uppercase;
}

fieldset {
  padding: 16px;
}

label,
input {
  display: block;
  width: 100%;
  font-size: 18px;
}
label {
  margin-bottom: 8px;
  font-weight: 700;
}
input {
  margin-bottom: 24px;
  padding: 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #edfbc1;
  box-shadow: inset 0 0 4px 2px black;
}
.remember {
  margin-bottom: 12px;
  width: unset;
  box-shadow: unset;
  display: inline-block;
  margin-right: 8px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #c5a92b;
  box-shadow: 0 0 6px 2px;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 6px 2px #edfbc1;
    transform: translateY(2px);
  }
  &:active {
    box-shadow: unset;
    transform: translateY(4px);
  }
}

.hrLine {
  border: 1px solid #edfbc1;
  margin-bottom: 16px;
}

span {
  display: block;
  text-align: center;
}

span a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
