* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navContainer {
  background-color: #d5b942;
}
.navContainer nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navContainer img {
  width: 46px;
}

.navContainer nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
.navContainer nav ul a {
  margin: 0 8px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  position: relative;
  &::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: all 0.2s;
  }
  &:hover::after {
    width: 100%;
  }
}
